body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    overflow-x: hidden;
    
}

a:hover {
    color: orange !important;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #EBEBEB;
    padding: 20px;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.profile-pic {
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    margin-right: 20px;
}

.profile-pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px dashed orange;
    
}

.header-content {
    flex: 3;
}

.header-content h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.header-content p {
    margin: 5px 0;
}

.header-content a {
    color: #0066cc;
    text-decoration: none;
}

.social-links{
    display: inline-block;
    background-color: #ffffff;
    border: 3px dashed orange;
    padding: 3px 15px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .header, .project {
        flex-direction: column;
    }
    .project img {
        width: 150px;
        height: 100px; 
        object-fit: cover;
    }
    .profile-pic {
        margin-bottom: 20px;
    }
    .project-content{
        padding-top: 20px;
    }
    .container {
        max-width: 100%;
        box-sizing: border-box;
    }
}
